*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(236, 236, 236);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.logo{
    margin-left: 9px;
    font-size: 19px;
}
nav{
     position: fixed;
     margin-top: -91px;
     width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgb(167, 167, 167);
}

ul {
    display: flex;
    margin-right: 11px;
}
nav ul #homes{
    color: rgb(218, 9, 9);
}
nav button{
    width: 80px;
    height: 30px; 
    background-color: rgb(202, 15, 15);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 32px;

}
nav button:hover{
    
    background-color: transparent;
    border: 2px solid rgb(235, 4, 4);
    color: black;
    transition: 0.3s ease;
    
    
}
#log{
    position: absolute;
    margin-left: 78%;
    margin-top: -1%;
    display: none;
    width: 230px;
    text-align: center;
    background-color: #b31515;
    padding: 22px;

}
#log input{
    width: 200px;
    outline: none;
    background-color: transparent;
    margin-top: 11px;
    padding: 5px;
    border: 2px solid rgb(173, 48, 48);
}
#log button{
    width: 100px;
    height: 30px;
    background-color:rgb(206, 2, 2);
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 11px;
}
ul a{
    text-decoration: none;
    margin-inline: 29px;
    margin-top: 7px;
    cursor: pointer;
    color: black;
}
ul a:hover{
    border-bottom:2px solid rgb(206, 5, 5) ;
    color: rgb(226, 38, 38);
    font-weight: 600;
}

.main{
    display: flex;
    justify-content: space-around;

    margin-top: 92px;
}
    